In [ ]:
import pandas as pd                                      # type: ignore
from sklearn.preprocessing import LabelEncoder           # type: ignore

raw_data = {'patient'  : [1, 1, 1, 2, 2],
            'obs'      : [1, 2, 3, 1, 2],
            'treatment': [0, 1, 0, 1, 0],
            'score'    : ['strong', 'weak', 'normal', 'weak', 'strong']}

df = pd.DataFrame(raw_data, columns = ['patient', 'obs', 'treatment', 'score'])

print('Original dataframe is :')
df

Original dataframe is :

   patient  obs  treatment   score
0        1    1          0  strong
1        1    2          1    weak
2        1    3          0  normal
3        2    1          1    weak
4        2    2          0  strong

In [3]:
# Create a label (category) encoder object
le = LabelEncoder()
le.fit(df['score'])

print(f"classed found      : {list(le.classes_)}")
print(f"equivalent numbers : {le.transform(df['score'])}")

classed found      : ['normal', 'strong', 'weak']
equivalent numbers : [1 2 0 2 1]

In [4]:
df['score'] = le.transform(df['score'])

print('Updates dataframe :')
df

Updates dataframe :

   patient  obs  treatment  score
0        1    1          0      1
1        1    2          1      2
2        1    3          0      0
3        2    1          1      2
4        2    2          0      1

In [7]:
print(f'Inverse Transform : {list(le.inverse_transform([0, 1, 2,1,1]))}')

Inverse Transform : ['normal', 'strong', 'weak', 'strong', 'strong']