In [1]:
from sklearn.preprocessing import StandardScaler                                                                                # type: ignore
from sklearn.model_selection import train_test_split                                                                            # type: ignore
from sklearn.metrics import confusion_matrix ,mean_absolute_error ,mean_squared_error ,median_absolute_error ,f1_score          # type: ignore
from sklearn.linear_model import SGDClassifier                                                                                  # type: ignore
import pandas as pd                                                                                                             # type: ignore

dataset = pd.read_csv('../datasets/heart.csv')
dataset.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [2]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [3]:
X = StandardScaler().fit_transform(X)

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [5]:
sgd = SGDClassifier(loss='squared_hinge', penalty='l2', max_iter=10000, tol=1e-5)
sgd.fit(X_train, y_train)

# Predicting the Test set results
y_pred = sgd.predict(X_test)
print(y_pred)

[0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 1 0 1 0 1 1 0 0 0 1 0 0 0 1 1 1 0 1 1 1 1 0
 1 0 0 1 0 1 0 1 0 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 0 1 0 1 1 0 1 1 0
 0 1]

In [6]:
sgd.n_iter_

51

In [7]:
#  Confusion Matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[27,  6],
       [ 7, 36]], dtype=int64)

In [8]:
print(mean_absolute_error(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))
print(median_absolute_error(y_test, y_pred))
print(f1_score(y_test, y_pred, average='micro'))

0.17105263157894737
0.17105263157894737
0.0
0.8289473684210527